<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672451599743-ghrnrvml8u050od9cc1gsl67ckgmj3nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672451599743-ghrnrvml8u050od9cc1gsl67ckgmj3nq</string>
	<key>API_KEY</key>
	<string>AIzaSyA4zXutFXdDDzSJB12x13OhzcoA6Dep7Is</string>
	<key>GCM_SENDER_ID</key>
	<string>672451599743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fambridge</string>
	<key>PROJECT_ID</key>
	<string>hackerton2023</string>
	<key>STORAGE_BUCKET</key>
	<string>hackerton2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672451599743:ios:2de562de0a0e10c6f74e4a</string>
</dict>
</plist>